@*
    Namespace: Views/Management
    File: Index.cshtml
    Author: Namchok
*@

@model IEnumerable<InsertRecordMvcCore.Models.AccountClass>

@{
    ViewData["Title"] = "Management";
    Layout = "~/Views/AdminLTE/_Layout.cshtml";
}

@Html.AntiForgeryToken()

<h1>Management</h1>

<p>
    @Html.ActionLink("Add User", "Create", "InsertUser", new { }, new { @class = "btn btn-info" })
    @* or <a asp-controller="InsertUser" asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.acc_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.acc_firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.acc_user)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in ViewData["User"] as List<AccountClass>)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.acc_Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.acc_firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.acc_user)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "InsertUser", new { id = item.acc_Id }, new { @class = "text-white btn btn-warning" })
                    @Html.ActionLink("Details", "Details", "Details", new { id = item.acc_Id }, new { @class = "btn btn-info" })
                    @Html.ActionLink("Delete", "Delete", "Delete", new { id = item.acc_Id }, new { @class = "btn btn-danger" })
                </td>
            </tr>
        }
    </tbody>
</table>
