@*
    Namespace: Views/Management
    File: Index.cshtml
    Author: Namchok
*@

@using InsertRecordMvcCore.Controllers
@model IEnumerable<InsertRecordMvcCore.Models.AccountClass>
@{
    ViewData["Title"] = "Management";
    Layout = "~/Views/AdminLTE/_Layout.cshtml";
    var index = 1;
}

@Html.AntiForgeryToken()

<h1>Management</h1>

<p>
    @Html.ActionLink("Add User", "Create", "InsertUser", null, new { @class = "btn btn-info" })
    @* or <a asp-controller="InsertUser" asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                No.
            </th>
            <th>
                @Html.DisplayNameFor(model => model.acc_firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.acc_user)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tableUser">
        @foreach (var item in ViewData["User"] as List<AccountClass>)
        {
            if (item.acc_IsActive == 'Y')
            {
                <tr>
                    <td>
                        @(index++)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.acc_firstname)
                    </td>
                    <td>
                        @Html.DisplayFor(modelItem => item.acc_user)
                    </td>
                    <td>
                        @Html.ActionLink("Edit", "Edit", "InsertUser", new { id = item.acc_Id }, new { @class = "text-white btn btn-warning" })
                        @*@Html.ActionLink("Delete", "DeleteUser", "InsertUser", new { id = item.acc_Id }, new { @class = "text-white btn btn-danger" })*@

                        @Html.ActionLink("Delete", null, null, null, new { @href = "#", @onclick = "confirmDelete(" + item.acc_Id + ")", @class = "text-white btn btn-danger" })
                        @*<a class="text-white btn btn-danger" onclick="confirmDelete(@item.acc_Id)">Delete</a>*@
                    </td>
                </tr>
            }
        }
    </tbody>
</table>

<script>

    // for add data of account ot table ID: tableUser
    function addTableAccount() {}

    // confirm when you delete account but change IsActive from 'Y' to 'N' check in database
    function confirmDelete(id)
    {
        // console.log(id); // show id of account
        const swalWithBootstrapButtons = Swal.mixin({
            customClass: {
                confirmButton: 'btn btn-success ml-2',
                cancelButton: 'btn btn-danger'
            },
            buttonsStyling: false
        })

        swalWithBootstrapButtons.fire({
            title: 'Are you sure?',
            text: "Do you want to delete account?",
            icon: 'warning',
            showCancelButton: true,
            confirmButtonText: 'Yes',
            cancelButtonText: 'No',
            reverseButtons: true
        }).then((result) => {
            if (result.value) {
                $.ajax({
                    url: "@Url.Action("DeleteUser", "InsertUser")",
                    data: { id: id },
                    type: "POST",
                    dataType: "text",
                    success: function () {
                            console.log("Success !!");
                        }, error: function (result) {
                            console.log(result.responseText)
                        }
                    }).done(function () {
                        swalWithBootstrapButtons.fire('Success !!', '', 'success').then((result) => {
                            if (result.value) {
                                location.reload();
                            }
                        })
                    });
            } else if (result.dismiss === Swal.DismissReason.cancel)
            {
                swalWithBootstrapButtons.fire('Cancelled', '', 'error')
            } // end If
        }) // end swalWithBootstrapButtons
    }

    $(document).ready(function () {
        // addTableAccount() // load table
    }); // end document ready

</script>