@*
    Namespace: Views/Management
    File: Index.cshtml
    Author: Namchok
*@

@using InsertRecordMvcCore.Controllers
@model IEnumerable<InsertRecordMvcCore.Models.AccountClass>
@{
    ViewData["Title"] = "Management";
    Layout = "~/Views/AdminLTE/_Layout.cshtml";
    var indexItem = 0;
}

@Html.AntiForgeryToken()

<h1>Management</h1>

<p>
    @Html.ActionLink("Add User", "Create", "InsertUser", null, new { @class = "btn btn-info" })
    @* or <a asp-controller="InsertUser" asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                No.
            </th>
            <th>
                @Html.DisplayNameFor(model => model.acc_firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.acc_user)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tableUser">
        @foreach (var item in ViewData["User"] as List<AccountClass>)
        {
            indexItem++;
            Console.WriteLine(indexItem);
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.acc_Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.acc_firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.acc_user)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "InsertUser", new { id = item.acc_Id }, new { @class = "text-white btn btn-warning" })
                    @Html.ActionLink("Delete", "DeleteUser", "InsertUser", new { id = item.acc_Id }, new { @class = "text-white btn btn-danger" })
                    @*<a class="btn btn-danger text-white" id="deleteUser">
                        Delete
                        <input type="hidden" value="@indexItem" />
                    </a>*@
                </td>
            </tr>
        }
    </tbody>
</table>

<script>

    $(document).ready(function () {

        $(document).on("click", "#deleteUser", function (e) {

            @*let idUser = parseInt($(this).find("input").val());*@

            var idUser = $(this).find("input").val();
            
            @*console.log(idUser)*@


            const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success ml-2',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            })

            swalWithBootstrapButtons.fire({
                title: 'Are you sure?',
                text: "Do you want to delete  account?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes',
                cancelButtonText: 'No',
                reverseButtons: true
            }).then((result) => {
                if (result.value) {

                    $.ajax({
                        url: "@Url.Action("DeleteUser")",
                        data: { ac: idUser },
                        type: "Post",
                        dataType: "text",
                        success: function (data) {
                            console.log("Good job! You clicked the button! success");
                        }, error: function (result) {
                            console.log(result)
                        }
                    });

                    swalWithBootstrapButtons.fire(
                        'Deleted!',
                        '',
                        'success'
                    )
                } else if (result.dismiss === Swal.DismissReason.cancel)
                {
                    swalWithBootstrapButtons.fire(
                        'Cancelled',
                        '',
                        'error'
                    )
                } // end If
            }) // end swal() 
        }); // end click id deleteUser
    }); // end document ready

</script>