@*
    Namespace: Views/Management
    File: Index.cshtml
    Author: Namchok
*@

@model IEnumerable<InsertRecordMvcCore.Models.AccountClass>
@{
    ViewData["Title"] = "Management";
    Layout = "~/Views/AdminLTE/_Layout.cshtml";

    var accViewdata = new AccountClass();
}

@Html.AntiForgeryToken()

<h1>Management</h1>

<p>
    @Html.ActionLink("Add User", "Create", "InsertUser", null, new { @class = "btn btn-info" })
    @* or <a asp-controller="InsertUser" asp-action="Create">Create New</a>*@
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.acc_Id)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.acc_firstname)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.acc_user)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody id="tableUser">
        @foreach (var item in ViewData["User"] as List<AccountClass>)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.acc_Id)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.acc_firstname)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.acc_user)
                </td>
                <td>
                    @Html.ActionLink("Edit", "Edit", "InsertUser", new { id = item.acc_Id }, new { @class = "text-white btn btn-warning" })
                    <a class="btn btn-danger text-white" id="deleteUser" >
                        Delete
                        <input type="hidden" value="@item.acc_Id" />
                        <input type="hidden" value="@item" />
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>

<script>

    $(document).ready(function () {



        $(document).on("click", "#deleteUser", function (e) {
            @*var account = @(Newtonsoft.Json.JsonConvert.SerializeObject(accViewdata));
            console.log(account)*@

            @*let idUser = parseInt($(this).find("input[0]").val());*@
            let idUser = $(this).find("input")[0].val();
            console.log(idUser) 

            let objAcc = parseInt($(this).find("input")[1].val());
            console.log(objAcc)

            @*const swalWithBootstrapButtons = Swal.mixin({
                customClass: {
                    confirmButton: 'btn btn-success ml-2',
                    cancelButton: 'btn btn-danger'
                },
                buttonsStyling: false
            })

            swalWithBootstrapButtons.fire({
                title: 'Are you sure?',
                text: "Do you want to delete  account?",
                icon: 'warning',
                showCancelButton: true,
                confirmButtonText: 'Yes',
                cancelButtonText: 'No',
                reverseButtons: true
            }).then((result) => {
                if (result.value) {

                    $.ajax({
                        url: "@Url.Action("deleteUser")",
                        type: "POST",
                        dataType: "text",
                        success: function (data) {
                            console.log(data)
                            console.log("Good job! You clicked the button! success");
                        }, error: function (result) {
                            console.log(result)
                        }
                    });

                    swalWithBootstrapButtons.fire(
                        'Deleted!',
                        '',
                        'success'
                    )
                } else if (
                    /* Read more about handling dismissals below */
                    result.dismiss === Swal.DismissReason.cancel
                ) {
                    swalWithBootstrapButtons.fire(
                        'Cancelled',
                        '',
                        'error'
                    )
                }
            })*@
        });
    });

</script>